body {
    background: #1B1A1B;

    min-width: 320px;
    min-height: 100vh;

    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 1); /*цвет под ваш проект*/
    background-color: hsla(300, 2%, 10%, 1);

}

section {
    /* margin-bottom: 30px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

button {
    cursor: pointer;
}

h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    text-transform: uppercase;
    
    letter-spacing: -0.1em;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    z-index: 0;
}

h2 {
    text-align: center;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    margin-bottom: 60px;
    margin-top: 0;
}

h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

button {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    margin: 0;
    padding: 0;
}

.container { 
    margin: 0 auto;
    width: 1440px;
}

th {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    padding-top: 30px;
    padding-bottom: 50px;
}

.header__logo {
    background-image: url(img/header/logo.svg);
    height: 66px;
    width: 120px;

}

.header__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 96px;
    align-items: center;
    width: 1250px;
}

.header__list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 40px;
}

.header__button {
    height: 55px;
    width: 280px;
    border: 3px solid #CD06FF;
    border-radius: 10px;
    box-sizing: border-box;
    background: none;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__button:hover ,.header__button:focus{
    background: #6C0287;
    border: 3px solid #6C0287;
    border-radius: 10px;
}

.header__button:active {
    background: #640AA3;
    border-radius: 10px;
}

.header__list-text {
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

/* main */

/* main {
    padding-top: 207px;
} */

.main__container {
    position: relative;
    padding-left: 90px;
    min-height: 812px;
    /* background-image: url(img/main/vrBoy.png); */
    background-position: 600px 0px;
    background-repeat: no-repeat;
    z-index: 1;
}

.main__container::before {
    content: url(img/main/vrBoy.png);
    left: 600px;
    top: 50px;
    position: absolute;
    z-index: 1;
}

/* .main__logo-pic {
    position: relative;
    z-index: 100;
    top: -380px;
    left: 480px;
    margin-bottom: -384px;
} */

.main__text-position {
    position: relative;
    vertical-align: top;
    margin: 0;
}

.main__text {
    position: relative;
    padding-left: 100px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.main__text-1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: #CD06FF;
    text-transform: uppercase;
    text-align: center;
}

.size {
    padding-top: 10px;
    font-size: 75px;
    margin-bottom: -10px;
}

.main__text-2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.main__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    flex-flow: row wrap;

    margin-bottom: 80px;
}

.main__button {
    width: 374px;
    height: 80px;    
    background: #6C0287;
    border-radius: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    margin-right: 165px;
}

.main__button:hover, .main__button:focus {
    background: #840AA3;
    border-radius: 10px;
}

.main__button:active {
    background: #640AA3;
    border-radius: 10px;
}

.main__button-down {
    border: 1px solid #FFFFFF;
    border-radius: 90px;
    box-sizing: border-box;
    background: none;
    height: 97px;
    width: 97px;
    position: relative;
    z-index: 2;
    bottom: -90px;
    background-image: url(img/main/downWhite.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
}

.main__button-down:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-image: url(img/main/downPurple.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
}

.main__button-down:active {
    background: #CD06FF;
    border: 1px solid #CD06FF;
    background-image: url(img/main/downPurple.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
}

.main__button-down:focus {
    border: 1px solid #FFFFFF;
    background-image: url(img/main/downWhite.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
}

/* friends */
.friends__wrapper {
    padding-left: 90px;
}

.friends__list {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 40px 20px;
}

.friends-size {
    width: 380px;
    height: 228px;
}

.friends__vr {
    background-image: url(img/friends/vr.jpg);
}

.friends__audio {
    background-image: url(img/friends/audio.jpg);
}

.friends__karaoke {
    background-image: url(img/friends/karaoke.jpg);
}

.friends__nastolki {
    background-image: url(img/friends/nastolki.jpg);
}

.friends__film {
    background-image: url(img/friends/film.jpg);
}

.friends__playstation {
    background-image: url(img/friends/playstation.jpg);
}

.friends__text {
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 40px;
    padding-top: 166px;
}

/* rooms */

.rooms__container {
    padding-left: 90px;
}

.rooms__list {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 1180px;
    gap: 20px;
}

/* .rooms__list li {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.rooms__list li:not(:nth-child(2n)) {
    margin-right: 20px;
}

.rooms__list li:nth-last-child(-n+2) {
    margin-bottom: 0;
} */

.rooms__vibes-item {
    position: relative;
    width: 580px;
    height: 349px;
    margin: 0;
    background-image: url(img/rooms/vibes.jpg);
}

.rooms__vibes-text {
    padding-top: 150px; 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.rooms__star-item {
    position: relative;
    width: 580px;
    height: 349px;
    background-image: url(img/rooms/starWars.jpg);
}

.rooms__star-text {
    padding-top: 150px; 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.rooms__wild-item {
    position: relative;
    width: 580px;
    height: 349px;
    margin: 0;
    background-image: url(img/rooms/wildWest.jpg);
}

.rooms__wild-text {
    padding-top: 150px; 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.rooms__neon-item {
    position: relative;
    width: 580px;
    height: 349px;
    background-image: url(img/rooms/neonStyle.jpg);
}

.rooms__neon-text {
    padding-top: 150px; 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;

    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

/* reserved */
.reserved {
    background-color: hsla(288, 68%, 19%, 1);
}

.reserved__wrapper {
    padding-left: 90px;
}

.reserved__header {
    padding-top: 80px;
}

.reserved__header-form {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.reserved__list-input {
    margin-bottom: 60px;
}

.reserved__item-check {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.reserved__item-check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.reserved__item-check+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
}

.reserved__item-check:checked+label::before {
    border-color: white;
    background-color: rgb(189, 108, 180);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.reserved__item-check:focus+label {
    border-color: 1px solid #CD06FF;
}

.reserved__item-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.reserved__item-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.reserved__item-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
    box-sizing: border-box;
}

.reserved__item-radio:not(:disabled):not(:checked)+label:hover::before {
    background-color: #ffffff;
    border-color: #CD06FF;
}

.reserved__item-radio:not(:disabled):active+label::before {
    background-color: #ffffff;
    border-color: black;
}
  /* стили для радиокнопки, находящейся в фокусе */
.reserved__item-radio:focus+label::before {
    box-sizing: border-box;
    border: 1px solid #CD06FF;
    border-radius: 0%;
}
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.reserved__item-radio:focus:not(:checked)+label::before {
    box-sizing: border-box;
    border-color: #ffffff;
    border: 1px solid #CD06FF;
}
  /* стили для радиокнопки, находящейся в состоянии checked */
.reserved__item-radio:checked+label::before {
    border-radius: 45%;
    border-color: white;
    background-color: rgb(189, 108, 180);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    
}
  /* стили для радиокнопки, находящейся в состоянии disabled */
.reserved__item-radio:disabled+label::before {
    background-color: #e9ecef;
}

.reserved__list-button {
    display: flex;
    justify-content: flex-start;
    width: 1180px;
    gap: 60px;
    margin-bottom: 60px;
}

.reserved__button-style {
    width: 250px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 8px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.reserved__button-style:hover {
    background: #EADEED;
    border: 3px solid #640AA3;
    border-radius: 8px;
}

.reserved__button-style:active {
    background: #6C0287;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
}

.reserved__button-style:focus {
    background: #FFFFFF;
    border: 3px solid #640AA3;
    border-radius: 8px;
}

::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 0;
    background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
    background-size: contain;
    padding-right: 50px;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.reserved__list-date {
    width: 1180px;
    padding-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.reserved__date-button {
    width: 134px;
    height: 54px;
    border: 0;
    box-sizing: border-box;

    background-image: url(img/reserved/triangle.png);
    background-position: 95px 20px;
    background-repeat: no-repeat;
    background-color: white;
}

.reserved__date-button:first-child {
    margin-right: 41px;
    margin-bottom: 36px;
    box-sizing: border-box;
}

.reserved__date-number {
    width: 300px;
    height: 52px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    padding-left: 15px;
    border: 0;
    
    background-image: url(img/reserved/triangle.png);
    background-position: 280px 20px;
    background-repeat: no-repeat;
    background-color: white;
}

.reserved__date-number::placeholder {
    color:#211E1E ;
}

.reserved__date-box:first-child {
    padding-top: 22px;
    width: 320px;
}

.reserved__name {
    position: relative;
    width: 300px;
    height: 54px;
    border: 0;
    box-sizing: border-box;
}

.reserved__name:focus {
    box-sizing: border-box;
    border: 5px solid #CD06FF;
}

.reserved__name:nth-child(even) {
    margin-bottom: 14px;
}

.reserved__name-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    margin-bottom: 6px;
}

.reserved__footer {
    width: 1213px;
    text-align: end;
}

.reserved__footer-button {
    width: 305px;
    height: 60px;    
    background: #FFFFFF;
    border-radius: 10px;

    border: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    margin-bottom: 30px;
}

.reserved__footer-button:hover {
    background: #EADEED;
    border: 3px solid #6C0287;
    border-radius: 10px;
}

.reserved__footer-button:active {
    background: #EADEED;
    border-radius: 10px;
}

.reserved__footer-button:focus {
    background: #FFFFFF;
    border: 3px solid #6C0287;
    border-radius: 10px;
}

.reserved__list-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1180px;
}

.reserved__box-header {
    text-align: left;
}

.reserved__box-table {
    border-spacing: 22px;
}

/* about */
.about__container {
    padding-left: 90px;
}
.about__wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

.about__box {
    width: 500px;
}

.about__box-size {
    width: 600px;
    height: 596px;
    background-image: url(img/about/photos.jpg);
}


.about__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    
    color: #FFFFFF;    
    margin-bottom: 30px;
}

.about__text-x {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
    
    margin-bottom: 40px;
}

blockquote {
    margin: 0;
    margin-bottom: 42px;

    display: inline-block;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;

    text-transform: uppercase;
    color: #FFFFFF;   
}

blockquote::before {
    content: "“";
    margin-right: 16px;    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: #6C0287;
}

.about__ficha {
    text-transform: uppercase;    
    color: #6C0287;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;    
}

.about__pic {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    padding-left: 80px;
}

.about__pic-style {
    display: inline-block;
}

.about__pic-text {
    float: right; 
}

/* reviews */

figure {
    margin: 0;
}

.reviews__list {
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reviews__photo {
    margin-right: 20px;
}

/* .reviews__item {
    margin-bottom: 50px;
} */

.reviews__item:last-child {
    margin-bottom: 0px;
}

.blo {
    display: inline-block;
    vertical-align: top;
}

.reviews__photo-name {
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.reviews__photo-item {
    margin-bottom: 11px;
}

.reviews__text {
    width: 780px;
    padding-top: 60px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}



/* faq */

.element {
    position: relative;
    background-color: #440F51;
    height: 30px;
    width: auto;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    /* margin-bottom: 20px; */
    vertical-align: middle;
    width: 1040px;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.element:nth-child(odd){
    background-color: #fff;
    color: #440F51;
}

.faq__button-purple {
    background-image: url(img/faq/open-purple.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: #fff;
}

.faq__button-purple:hover {
    background-image: url(img/faq/purpleHover.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
}

.faq__button-purple:active {
    background-image: url(img/faq/purpleActive.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
}

.faq__button-white {
    background-image: url(img/faq/white.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: #440F51;
}

.faq__button-white:hover {
    background-image: url(img/faq/whiteHover.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: #440F51;
}

.faq__button-white:active {
    background-image: url(img/faq/whiteActive.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: #440F51;
}

.feedback-list {
    list-style-type: none;
    position: relative;
    height: auto;
    width: auto;
}

.feedback-item {
    position: relative;
    margin-left:0px;
    padding-left:0px;
    display: inline-block;
}

.feedback-text {
    margin-top: 20px;
}

.about-pic {
    position: relative;
    float: left;
    text-align: left; 
    margin: 20px; 
    padding: 0;
}

.faq-list {
    list-style-type: none;
    padding-left: 90px;

    display: flex;
    flex-flow: column;
    gap: 20px;
}

/* footer */
.footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
}

.footer__contact-list {
    margin-bottom: 40px;
}

.footer__contact-list li {
    margin-bottom: 30px;
}

.footer__contact-list li:last-child {
    margin-bottom: 0px;
}

.footer__local::before {
    content: url(img/footer/location.svg);
    position: relative;
    width: 32px;
    height: 32px;
    float: left;
    top: 9px;
    margin-right: 15px;
}

.footer__tel::before {
    content: url(img/footer/phone.svg);
    position: relative;
    width: 32px;
    height: 32px;

    float: left;
    margin-right: 15px;
}

.footer__mail::before {
    content: url(img/footer/mail.svg);
    position: relative;
    width: 32px;
    height: 32px;

    float: left;
    margin-right: 15px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 380px;
    height: 50px;
    list-style: none;
    gap: 20px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    row-gap: 40px;
    width: 1180px;
    padding-left: 90px;
    margin-bottom: 156px;
}

.footer__downer {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    padding-left: 90px;
}

.footer__downer-text {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;    
}

.footer__downer-mail {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left; 
    text-decoration: none;
    color: hsla(0, 0%, 100%, 1);
}

.footer__button {
    fill: white;
}

.footer__button:hover svg {
    fill: #EADEED;;
}

.footer__button:active svg {
    fill: #CD06FF;
}

.footer__button:focus svg {
    fill: #EADEED;
}



