:root {
    --mainText-color: hsla(0, 0%, 100%, 1);
    --mainTextOne-color: hsla(288, 100%, 51%, 1);
    --mainBackground-color: hsla(288, 97%, 27%, 1);
    --mainBackgroundOne-color: hsla(288, 68%, 19%, 1);
}