/* faq */

.element {
    position: relative;
    background-color: var(--mainBackgroundOne-color);
    height: 30px;
    width: auto;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;

    vertical-align: middle;

    color: var(--mainText-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    padding-left: 30px;
    padding-right: 70px;
}

.element:hover {
    background-color: var(--mainBackgroundOne-color);
}

.element:nth-child(odd){
    background-color: #fff;
    color: var(--mainBackgroundOne-color);
}

.faq__button-purple {
    background-image: url(/img/faq/open-purple.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: #fff;
    transition-duration: 0.2s;
}

.faq__button-purple:hover {
    background-image: url(/img/faq/purpleHover.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
}

.faq__button-purple:active {
    background-image: url(/img/faq/purpleActive.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
}

.faq__button-white {
    background-image: url(/img/faq/white.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: var(--mainBackgroundOne-color);
    transition-duration: 0.2s;
}

.faq__button-white:hover {
    background-image: url(/img/faq/whiteHover.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: var(--mainBackgroundOne-color);
}

.faq__button-white:active {
    background-image: url(/img/faq/whiteActive.png);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    border: 0;
    background-color: var(--mainBackgroundOne-color);
}

.feedback-list {
    list-style-type: none;
    position: relative;
    height: auto;
    width: auto;
}

.feedback-item {
    position: relative;
    margin-left:0px;
    padding-left:0px;
    display: inline-block;
}

.feedback-text {
    margin-top: 20px;
}

.about-pic {
    position: relative;
    float: left;
    text-align: left; 
    margin: 20px; 
    padding: 0;
}

.faq-list {
    list-style-type: none;

    display: flex;
    flex-flow: column;
    gap: 20px;
}

@media (max-width: 1024px) {
    .element {
        position: relative;
        background-color: #fff;
        height: 30px;
        width: auto;
        color: hsla(0, 4%, 10%, 1);
        font-weight: 700;
        font-size: 24px;
        padding: 30px 70px;
        vertical-align: middle;
    
        color: hsla(0, 4%, 10%, 1);
        padding: 0 20px 0 25px;
        height: 70px;
        
    }

    .element:last-child {
        background-color: red;
        color: red;
    }

    .element:hover {
        background-color: #fff;
    }

    .element:nth-child(odd){
        background-color: #fff;
        color: hsla(0, 4%, 10%, 1);
    }

    .faq__button-white {
        background-image: url(/img/faq/open-purple.png);
        background-color: #fff;
    }

    .faq__button-white:hover {
        background-color: #fff;
    }

    .faq__button-white:active {
        background-color: #fff;
    }

    .faq__display {
        display: none;
    }

    .faq-list {
        gap: 16px;
    }
}