/* footer */
.footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--mainText-color);
}

.footer__contact-list {
    margin-bottom: 40px;
}

.footer__contact-list li {
    margin-bottom: 30px;
}

.footer__contact-list li:last-child {
    margin-bottom: 0px;
}

.footer__local::before {
    content: "";
    background-image: url(img/footer/location.svg);
    position: relative;
    width: 32px;
    height: 32px;
    float: left;

    margin-right: 15px;
    background-size: cover;
}

.footer__tel:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    color: #EADEED;
}

.footer__tel::before {
    content: url(img/footer/phone.svg);
    position: relative;
    width: 32px;
    height: 32px;

    float: left;
    margin-right: 15px;
    background-size: cover;
}

.footer__mail:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    color: #EADEED;
}

.footer__mail::before {
    content: url(img/footer/mail.svg);
    position: relative;
    width: 32px;
    height: 32px;

    float: left;
    margin-right: 15px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 50px;
    list-style: none;
    gap: 20px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    row-gap: 40px;
    margin-bottom: 156px;
}

.footer__downer {
    display: flex;
    justify-content: space-between;
}

.footer__downer-text {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;    
}

.footer__downer-mail {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left; 
    text-decoration: none;
    color: var(--mainText-color);
}

.footer__downer-mail:hover {
    color: #640AA3;
    transition-duration: 0.2s;
}

.footer__button svg {
    fill: white;
    transition-duration: 0.4s;
}

.footer__button:hover svg {
    fill: #EADEED;
}

.footer__button:active svg {
    fill: var(--mainTextOne-color);
}

.footer__button:focus svg {
    fill: #EADEED;
}

@media (max-width: 1024px) {
    .footer__yandex {
        width: 542px;
        height: 274px;
    }

    .footer-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }

    .footer__wrapper {
        gap: 0;
    }
}

@media (max-width: 768px) {
    .footer__wrapper {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 76px;
    }

    .footer__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__box:first-child {
        text-align: center;
    }

    .footer__local::before {
        content: "";
        background-image: url(img/footer/location.svg);
        position: relative;
        width: 26px;
        height: 26px;
        margin-right: 0px;
        background-size: cover;
        float: left;
        left: 80px;
    }

    .footer__tel::before {
        float: none;
        background-size: cover;
        width: 26px;
        height: 26px;
    }

    .footer__local::before svg{
        float: none;
        width: 26px;
        height: 26px;
    }

    .footer__tel::before svg{
        background-size: cover;
        float: none;
        width: 26px;
        height: 26px;
    }

    .footer__yandex {
        width: 688px;
        height: 274px;
    }

    .footer__social-item svg{
        width: 40px;
        height: 40px;
    }

    .footer__contact-list {
        margin-bottom: 27px;
    }

    .footer__contact-header {
        margin-bottom: 30px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .footer__contact-header {
        margin-bottom: 18px;
    }

    .footer__wrapper {
        margin-bottom: 63px;
    }

    .footer-text {
        font-size: 14px;
        line-height: 18px;
    }

    .footer__yandex {
        width: 280px;
        height: 194px;
    }

    .footer__downer {
        flex-direction: column;
        align-items: center;
        row-gap: 19px;
    }

    .footer__downer-text {
        font-size: 12px;
        line-height: 16px;
    }

    .footer__downer-mail {
        font-size: 12px;
        line-height: 16px;        
    }

    .footer__local::before {
        width: 20px;
        height: 20px;
        left: 40px;
        bottom: 5px;
    }

    .footer__tel::before {
        content: "";
        background-image: url(img/footer/phone.svg);
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 0px;
        background-size: cover;
        float: left;
        left: 10px;
    }

    .footer__mail::before {
        content: "";
        background-image: url(img/footer/mail.svg);
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 0px;
        background-size: cover;
        float: left;
        left: -5px;
    }
}