.friends__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow: row wrap;
    gap: 40px 20px;
}

.friends__list:first-child {
    align-self: center;
}

.friends-size {
    width: 380px;
    height: 228px;
    transition-duration: 0.4s;
    transition-property: transform;
    background-size: contain;
    background-repeat: no-repeat;
}

.friends-size:hover {
    transform: scale(1.1);
}

.friends__vr {
    background-image: url(/img/friends/vr.jpg);
    margin-bottom: 50px;
}

.friends__audio {
    background-image: url(/img/friends/audio.jpg);

}

.friends__karaoke {
    background-image: url(/img/friends/karaoke.jpg);
    margin-bottom: 50px;
}

.friends__nastolki {
    background-image: url(/img/friends/nastolki.jpg);
    margin-bottom: 50px;
}

.friends__film {
    background-image: url(/img/friends/film.jpg);
    
}

.friends__playstation {
    background-image: url(/img/friends/playstation.jpg);
    margin-bottom: 50px;
}

.friends__text {
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 40px;
    padding-top: 166px;
}

@media (max-width: 1024px) {
    .friends-size {
        width: 287px;
        height: 172px;
    }

    .friends__text {
        padding-top: 85px;
    }
}

@media (max-width: 768px) {
    .friends-size {
        width: 334px;
        height: 200px;
    }

    .friends__vr {
        margin-bottom: 0;
    }

    .friends__karaoke {
        margin-bottom: 0;
    }

    .friends__nastolki {
        margin-bottom: 0;
    }

    .friends__film {
        margin-bottom: 0;
    }

    .friends__playstation {
        margin-bottom: 0;
    }

    .friends__list {
        gap: 20px;
    }

    .friends__text {
        padding-top: 120px;
    }
}

@media (max-width: 320px) {
    .friends__text {
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        padding-top: 30px;
        padding-left: 10px;
        width: 115px;
    }

    .friends-size {
        width: 135px;
        height: 75px;
    }

    .friends__text-size {
        width: 60px;
    }

    .friends__list {
        gap: 10px;
    }
}