/* main */
.main__container {
    position: relative;
    min-height: 812px;
    /* background-image: url(img/main/vrBoy.png); */
    background-position: 600px 0px;
    background-repeat: no-repeat;
    z-index: 1;
}

.main__container::before {
    content: "";
    background-image: url(/img/main/vrBoy.png);
    background-size: cover;
    left: 505px;
    top: 49px;
    position: absolute;
    z-index: 1;
    width: 675px;
    height: 762px;
}

.main__text-position {
    position: relative;
    vertical-align: top;
    margin: 0;
}

.main__text {
    position: relative;
    padding-left: 100px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    color: var(--mainText-color);
    margin-bottom: 30px;
}

.main__text-1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: var(--mainTextOne-color);
    text-transform: uppercase;
    text-align: center;
}

.main__text-2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: var(--mainText-color);
}

.main__list {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    row-gap: 10px;
    column-gap: 40px;
    margin-bottom: 80px;
}

.size {
    font-size: 75px;
    padding-top: 10%;
    font-variant: small-caps;
}

.fourth {
    grid-row: 1;
    grid-column: 1;
}

.tematic {
    grid-row: 2;
    grid-column: 1;
}
.new {
    grid-row: 1;
    grid-column: 2;
}
.newer {
    grid-row: 2;
    grid-column: 2;
}

.main__button {
    width: 374px;
    height: 80px;    
    background: var(--mainBackground-color);
    border-radius: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--mainText-color);
    position: relative;
    margin-right: 165px;
    transition-duration: 0.2s;
}

.main__button:hover, .main__button:focus {
    background: #840AA3;
    border-radius: 10px;
}

.main__button:active {
    background: #640AA3;
    border-radius: 10px;
}

.main__button-down {
    border: 1px solid #FFFFFF;
    border-radius: 90px;
    box-sizing: border-box;
    background: none;
    height: 97px;
    width: 97px;
    position: relative;
    z-index: 2;
    bottom: -90px;
    background-image: url(/img/main/downWhite.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
    transition-duration: 0.4s;
}

.main__button-down:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-image: url(/img/main/downPurple.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
}

.main__button-down:active {
    background: var(--mainTextOne-color);
    border: 1px solid var(--mainTextOne-color);
    background-image: url(/img/main/downPurple.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
}

.main__button-down:focus {
    border: 1px solid #FFFFFF;
    background-image: url(/img/main/downWhite.png);
    background-repeat: no-repeat;
    background-position: 32px 26px;
}

@media (max-width: 1024px) {
    .main {
        padding-top: 15px;
    }
    
    .main__container {
        min-height: 585px;
    }

    .main__container::before {
        width: 453px;
        height: 520px;
        left: 450px;
        top: 65px;
    }

    .main__text-position {
        font-size: 120px;
        line-height: 100%;
        margin-bottom: 20px;
    }

    .main__text {
        font-size: 22px;
        line-height: 30px;
    }

    .main__text-1 {
        font-size: 80px;
        line-height: 113px;
    }

    .size {
        font-size: 60px;
        line-height: 85px;
    }

    .main__text-2 {
        font-size: 26px;
        line-height: 30px;
    }

    .main__button {
        width: 296px;
        height: 64px;
        font-size: 22px;
        line-height: 30px;
        margin-right: 83px;
        margin-left: 39px;
    }

    .main__button-down {
        width: 67px;
        height: 67px;
        background-position: 50% 35%;
        background-size: 35%;
        bottom: -45px;
    }

    .main__button-down:hover {
        background-position: 19px 26px;
    }


    .main__list {
        margin-bottom: 60px;
    }
}