.reserved {
    background-color: var(--mainBackgroundOne-color);
}

.reserved__header {
    padding-top: 80px;
}

.reserved__header-form {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--mainText-color);
}

.reserved__list-input {
    margin-bottom: 60px;
}

.reserved__item-check {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.reserved__item-check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.reserved__item-check+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
}

.reserved__item-check:checked+label::before {
    border-color: white;
    background-color: rgb(189, 108, 180);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.reserved__item-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.reserved__item-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.reserved__item-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
    box-sizing: border-box;
}

.reserved__item-radio:not(:disabled):not(:checked)+label:hover::before {
    background-color: #ffffff;
    border-color: var(--mainTextOne-color);
}

.reserved__item-radio:not(:disabled):active+label::before {
    background-color: #ffffff;
    border-color: black;
}
  /* стили для радиокнопки, находящейся в фокусе */
.reserved__item-radio:focus+label::before {
    box-sizing: border-box;
    border: 1px solid var(--mainTextOne-color);
    border-radius: 0%;
}
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.reserved__item-radio:focus:not(:checked)+label::before {
    box-sizing: border-box;
    border-color: #ffffff;
    border: 1px solid var(--mainTextOne-color);
}
  /* стили для радиокнопки, находящейся в состоянии checked */
.reserved__item-radio:checked+label::before {
    border-radius: 45%;
    border-color: white;
    background-color: rgb(189, 108, 180);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    
}
  /* стили для радиокнопки, находящейся в состоянии disabled */
.reserved__item-radio:disabled+label::before {
    background-color: #e9ecef;
}

.reserved__list-button {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    margin-bottom: 60px;
}

/* .reserved__button-style {
    content: "lalala";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 250px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 8px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    transition-duration: 0.5s;
    cursor: pointer;
    position: relative;
} */

.reserved__item-button {
    display: inline-block;
    text-align: center;
    border-radius: 3px white solid;
    border-style: none;
    box-sizing: border-box;
}

.reserved__item-button input[type=radio] {
    display: none;
}

.reserved__item-button label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 3px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    transition-duration: 0.5s;
    cursor: pointer;
    box-sizing: border-box;
}

.reserved__item-button label:hover {
    background: #EADEED;;
    border: 3px solid #640AA3;
    border-radius: 8px;
    box-sizing: border-box;
}

.reserved__item-button input[type=radio]:checked + label {
    background: hsla(288, 97%, 27%, 1);
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    color: white;
}

.reserved__item-button input[type=radio]:disabled + label {
    background: #FFFFFF;
    border-radius: 3px;
}

/* .reserved__button-style:hover {
    background: #EADEED;
    border: 3px solid #640AA3;
    border-radius: 8px;
}

.reserved__button-style:active {
    background: hsla(288, 97%, 27%, 1);
    border: 3px solid #FFFFFF;
    border-radius: 8px;
}

.reserved__button-style:focus {
    background: hsla(288, 97%, 27%, 1);
    border: 3px solid #FFFFFF;
    border-radius: 8px;
} */

.reserved__date-button::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 0;
    background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
    background-size: contain;
    padding-right: 50px;
}

.reserved__date-button::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.reserved__list-date {
    padding-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: center;
}

.reserved__date-button {
    width: 134px;
    height: 54px;
    border: 0;
    box-sizing: border-box;

    background-image: url(../img/reserved/triangle.png);
    background-position: 95px 20px;
    background-repeat: no-repeat;
    background-color: white;
}

.reserved__date-button:first-child {
    box-sizing: border-box;
}

.reserved__date-number {
    width: 300px;
    height: 52px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    border: 0;
    
    background-image: url(../img/reserved/triangle.png);
    background-position: 280px 20px;
    background-repeat: no-repeat;
    background-color: white;
}

.reserved__date-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.reserved__date-number::placeholder {
    color:#211E1E ;
}

.reserved__name {
    position: relative;
    width: 280px;
    height: 54px;
    border: 0;
    box-sizing: border-box;
}

.reserved__size {
    width: 300px;
}

.reserved__name:focus {
    box-sizing: border-box;
    border: 5px solid var(--mainTextOne-color);
}

.reserved__name-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--mainText-color);
}

.reserved__footer {
    text-align: end;
}

.reserved__footer-button {
    width: 300px;
    height: 60px;    
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--mainBackground-color);;
    margin-bottom: 30px;
    margin-right: 38px;
}

.reserved__footer-button:hover {
    background: #EADEED;
    border: 3px solid var(--mainBackground-color);;
    border-radius: 10px;
}

.reserved__footer-button:active {
    background: #EADEED;
    border-radius: 10px;
}

.reserved__footer-button:focus {
    background: #FFFFFF;
    border: 3px solid var(--mainBackground-color);;
    border-radius: 10px;
}

.reserved__list-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reserved__box-header {
    text-align: left;
}

.reserved__box-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

.reserved__box-flex {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.reserved__date-item {
    display: flex;
    justify-content: space-between;
    column-gap: 18px;

}

.reserved__date-item:first-child {
    padding-top: 24px;
}

.reserved__box-superflex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 36px;
}

.reserved__label-none {
    display: none;
}

@media (max-width: 1024px) {
    .reserved__header-form {
        margin-bottom: 26px;
    }

    .reserved__list-button {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 60px;
    }

    .reserved__item-button label {
        width: 180px;
        height: 44px;
        background: #FFFFFF;
        border-radius: 6px;
        font-size: 20px;
        line-height: 24px;
    }

    .reserved__list-input {
        justify-content: space-between;
    }

    .reserved__box-header {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }

    .reserved__list-date {
        padding-left: 0;
        justify-content: space-between;
    }

    .reserved__date-button {
        width: 134px;
        height: 52px;
    }

    .reserved__name {
        width: 251px;
        height: 52px;
    }

    .reserved__name:nth-child(1) {
        width: 251px;
    }

    .reserved__size {
        width: 264px;
        height: 52px;
    }

    .reserved__box-flex {
        display: flex;
        flex-direction: column;
    }

    .reserved__box-flex {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    
    .reserved__date-item {
        display: flex;
        justify-content: space-between;
        column-gap: 18px;
    }
    
    .reserved__date-item:first-child {
        padding-top: 24px;
    }
    
    .reserved__box-superflex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 36px;
    }

    .reserved__label-none {
        display: none;
    }

    .reserved__footer-button {
        margin-right: 0;
        width: 264px;
    }
}

@media (max-width: 768px) {
    .reserved__header {
        padding-top: 20px;
    }

    .reserved__item-button label {
        width: 150px;
        height: 38px;
        font-size: 16px;
        line-height: 20px;
    }

    .reserved__list-button {
        gap: 0;
    }

    .reserved__list-input {
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 120px;
        row-gap: 1.5rem;
    }

    .reserved__list-date {
        flex-wrap: wrap;
        row-gap: 10px;
        margin-bottom: 48px;
    }

    .reserved__box-superflex {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 87px;
    }

    .reserved__date-item:first-child {
        padding-top: 0;
        margin-bottom: 40px;
        column-gap: 30px;
    }

    .reserved__date-number {
        height: 50px;
        width: 300px;
    }

    .reserved__name {
        width: 300px;
        height: 52px;
    }

    .reserved__footer-button {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .reserved__header-form {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .reserved__header-margin {
        margin-bottom: 1rem;
    }

    .reserved__item-button label {
        width: 130px;
        height: 30px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }

    .reserved__list-button {
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 14px;
        margin-bottom: 30px;
    }

    .reserved__box-header {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }

    .reserved__box-table {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    .reserved__list-input {
        margin-bottom: 10px;
    }

    .reserved__name {
        width: 280px;
    }

    .reserved__date-number {
        width: 276px;  
        background-position: 241px 20px;      
    }

    .reserved__box-superflex {
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 10px;
        margin-bottom: 0px;
    }

    .reserved__date-item:first-child {
        padding-top: 0px;
        margin-bottom: 0px;
        column-gap: 10px;
    }

    .reserved__list-date {
        margin-bottom: 30px;
        row-gap: 33px;
    }

    .reserved__footer-button {
        width: 280px;
        height: 60px;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;
    }
}