/* reviews */

figure {
    margin: 0;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.blo {
    display: inline-block;
    vertical-align: top;
}

.reviews__item {
    display: flex;
    justify-content: center;
    gap: 20px   ;
}

.reviews__photo-name {
    text-align: center;
    font-family: Arial;
    font-size: var(--mainText-size);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.reviews__photo-item {
    margin-bottom: 11px;
    position: relative;
    
}

.reviews__gradient {
    margin: 0;
    padding: 0;
    margin-bottom: -286px;
}

.reviews__gradient::after {
        content: "";
        display: block;    
        position: relative;
        width: 280px;
        height: 280px;
        left: -0px;
        top: -296px; 
        background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
        border-radius: 140px;
    }

.reviews__text {
    padding-top: 60px;
    font-family: Arial;
    font-size: var(--mainText-size);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

@media (max-width: 1024px) {
    .reviews__photo-item {
        width: 172px;
        height: 172px;
    }

    .reviews__gradient::after {
        width: 172px;
        height: 172px;
        top: -188px;
    }

    .reviews__item {
    display: flex;
    justify-content: center;
    gap: 38px;
    }

    .reviews__photo {
        grid-row: 1 \ span 2;
        grid-column: 1;
    }

    .reviews__photo-name {
        grid-row: 2;
    }

    .reviews__gradient {
        margin-bottom: -178px;
    }

    .reviews__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .reviews__text-style {
        width: 450px;
    }

    .reviews__text {
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    .reviews__photo-item {
        width: 153px;
        height: 153px;
    }

    .reviews__gradient {
        margin-bottom: -153px;
    }

    .reviews__gradient::after {
        width: 153px;
        height: 153px;
        top: -169px;
    }

    .reviews__text-style {
        width: 393px;
    }

    .reviews__list {
        gap: 30px;
    }
}

@media (max-width: 320px) {
    .reviews__item {
        flex-wrap: wrap;
        gap: 15px;
    }

    .reviews__text {
        padding-top: 0;
    }

    .reviews__text-style {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
    }

    .reviews__photo-item {
        width: 86px;
        height: 86px;
    }

    .reviews__gradient {
        margin-bottom: -100px;
    }

    .reviews__gradient::after {
        width: 86px;
        height: 86px;
        top: -102px;
    }
}